#lighterbox {
	position:absolute;
	z-index:99998;
	background:rgba(0,0,0,0.5);
	min-height:100vh;
	min-width:100vw;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
#lb-inner {
	margin:0 auto;
	z-index:99999;
}